<!-- network/templates/network/equipment_list.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Сетевое оборудование{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">{% include 'network/network_sidebar.html' %}</div>
    <div class="col-md-9">    </div>
    
    <!-- Контент -->
    <div class="col-md-9 col-lg-10 px-md-4">
        <!-- Вкладки -->
        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <button class="nav-link active">📋 Список</button>
            </li>
            <li class="nav-item">
                <button class="nav-link">🔍 Сканер</button>
            </li>
        </ul>
        
        <!-- Остальной твой контент -->
    </div>
</div>
{% endblock %}